// ベースカラー
$color-white: #fff;
$color-black: #1d1d21;
$color-light-grey: #f7f7f9;
$color-grey-1: #505463;
$color-grey-2: #6f7180;
$color-grey-3: #a2a4ad;
$color-grey-4: #eaeaec;

// ボタン
$color-button-hover-primary: #4a4a4d;
$color-button-hover-secondary: #f3f3f4;
$color-button-disabled: #c2c2cd;
